[class*="col"]{
    background-color: blue;
    border: 1px solid white;
    min-height: 35px;
}

.row .col-6.green{
    display: flex;
    padding: 5px;
}

.col-6.green .col-2{
    background-color: green;
    border: 1px solid blue;
}